.MainChat
  .MainHeader
    .MainHeader__LeftHeader
      .MainHeader__LeftHeader__GroupName
        Test
      .MainHeader__LeftHeader__GroupMember
        Member : MenberName1, MenberName2
    = link_to "#", class: "MainHeader__RightHeader" do
      Edit
  .MainMessages
  .MainFooter