.SideBar
  .SideHeader
    .SideHeader__list
      .SideHeader__list__userName
        Nagisa
      .SideHeader__list__iconList
        = link_to "#", class: "SideHeader__list__iconList--iconBtn" do
          = icon('fas', 'edit')
        = link_to "#", class: "SideHeader__list__iconList--iconBtn" do
          = icon('fas', 'cog')
  .SideGroupLists