.SideBar
  .SideHeader
    .SideHeader__list
      .SideHeader__list__userName
        Nagisa
      .SideHeader__list__iconList
        = link_to "#", class: "SideHeader__list__iconList--iconBtn" do
          = icon('fas', 'edit')
        = link_to "#", class: "SideHeader__list__iconList--iconBtn" do
          = icon('fas', 'cog')
  .SideGroupLists
    .SideGroupLists__Group
      / 以下、テーブル（controller)実装後、ループ処理に修正
      .SideGroupLists__Group__GroupName
        Volcano
      .SideGroupLists__Group__NewMessage
        Happy Birthday!!
      .SideGroupLists__Group__GroupName
        Ch.Latorl
      .SideGroupLists__Group__NewMessage
        一級ワイン
      .SideGroupLists__Group__GroupName
        KFC
      .SideGroupLists__Group__NewMessage
        <ケンタッキー大好き>